{% extends 'base.html' %}

{% block title %}Profile of {{ user_obj.username }}{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
    <a class="nav-link active" href="{% url 'change' user_obj.pk %}">Edit user</a>
    <a class="nav-link active" href="{% url 'password_change' %}">Change password</a>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Profile of {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.avatar %}
        <img class="avatar" src="{{ user_obj.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>User: {{ user_obj.username }}</p>
    <p>First name: {{ user_obj.first_name }}</p>
    <p>Last name: {{ user_obj.last_name }}</p>
    <p>Email: {{ user_obj.email }}</p>
    {% for review in reviews %}
        {{ review.product }}
        {{ review.review_text }}
    <hr>
        {% empty %}
    {% endfor %}
    {% if user_obj.posts.image %}

    {% endif %}
{% endblock %}
