{% extends 'base.html' %}

{% block title %}
{{ task.summary }}
{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
{% if perms.webapp.add_products %}
<a class="nav-link active" href="{% url 'product_add' %}">Task add</a>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                {% if product.image %}
                    <img class="avatar" src="{{ product.image.url }}" width="250" height="250" alt="user picture">
                {% else %}
                    <img class="avatar" src="uploads/zaglushka.jpg" width="250" height="250" alt="user picture">
                {% endif %}
            </td>
            <td>
                <h2 class="mx-2">{{ product.name }}</h2>
                <h2 class="mx-2">Category: {{ product.get_category_display }}</h2>
                <h2 class="mx-2">Description: {{ product.description | linebreaks}}</h2>
                <h2 class="mx-2">
                    Rate: {% with avg_ratings=product.avg_ratings %}
                    {{ avg_ratings.rate__avg|default:0 }}
                    {% endwith %}
                </h2>
                <h2 class="mx-2">
                    {% if user.is_authenticated %}
                        <a class="mx-2" href="{% url 'review_add' product.pk %}">Add review</a>
                    {% endif %}
                </h2>
            </td>
        </tr>
    </table>

    {% if user.is_authenticated %}
    {% if perms.webapp.change_products %}
    <h2><a class="mx-2" href="{% url 'product_update' product.pk %}">Product update</a>
    {% endif %}
    {% if perms.webapp.delete_products %}
    <a href="{% url 'product_delete' product.pk %}">Product delete</a></h2>
    {% endif %}
    {% endif %}

    <h2>{% for review in reviews %}
        <div class="card task mb-3">
            <div class="card-body">
                <h2><a href="{% url 'profile' review.author.pk %}">Author: {{ review.author }}</a></h2>
                <h2>Email: {{ review.author.email }}</h2>
                <h2>Review: {{ review.review_text }}</h2>
                <h2>Rate: {{ review.rate }}</h2>
                {% if user.is_authenticated %}
                    <a class="mx-2" href="{% url 'review_update' review.pk %}">Update review</a>
                    <a class="mx-2" href="{% url 'review_delete' review.pk %}">Delete review</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}</h2>
{% endblock %}
