{% extends 'base.html' %}


{% block menu %}
{% if user.is_authenticated %}
{% if perms.webapp.add_products %}
<a class="nav-link active" href="{% url 'product_add' %}">Task add</a>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
    {% include 'partial/search.html' %}
      <main role="main" class="inner cover">
        <p class="lead">
            <h4>{% if products|length == 0 %}
                Products not found
                {% else %}
                {% endif %}</h4>
            {% for product in products %}
              <div class="card task mb-3">
                <div class="card-body">
                    <table>
                      <tr>
                        <td>
                            {% if product.image %}
                                <img class="avatar" src="{{ product.image.url }}" width="250" height="250" alt="user picture">
                            {% else %}
                                <img class="avatar" src="uploads/zaglushka.jpg" width="250" height="250" alt="user picture">
                            {% endif %}
                        </td>
                        <td>
                          <h2><a class="mx-2" href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
                          <h2 class="mx-2">Category: {{ product.get_category_display }}</h2>
                          <h2 class="mx-2">Rate: {% with avg_ratings=product.avg_ratings %}
                            {{ avg_ratings.rate__avg|default:0 }}
                            {% endwith %}</h2>
                        </td>
                      </tr>
                    </table>


                    <h2>
                        {% if task.project == None %}
                        {% else %}
                            Project: {{ task.project }}
                        {% endif %}
                    </h2>
                    <h2>{% if task.type.all|length > 0 %}
                        Type:
                        {% else %}
                        {% endif %}
                    {% for type in task.type.all %}
                        {{ type.type_name }}{% if not forloop.last %},
                        {% endif %}
                    {% endfor %}</h2>

                </div>
              </div>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
